:root {
    /* COLOR VARIABLES */
    /* PRIMARY */
    --red: #ff7a7a;
    --green: #38cc8c;

    /* ACCENT */
    --blue: #6055a5;

    /* NEUTRAL */
    --dark-blue: #3e3c49;
    --grayish-blue: #b9b6d3;
}

/* RESET'S */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* GENERAL STYLES */

body {
    background: var(--red) url("../img/bg-intro-mobile.png");
    color: #fff;
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
    line-height: 1.5;
    text-align: center;
}

a:focus,
button:focus,
input:focus {
    outline: #000 dotted 3px;
    outline-offset: 0.05em;
}

/* BUTTON EFFECT */

.signature-button:active,
input[type="submit"]:active {
    box-shadow: 0px 0px;
    transform: translateY(10px);
}

/* LAYOUT */

.container-geral {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 25px;
}

.intro,
.register {
    max-width: 500px;
}

/* INTRO SECTION */

.intro h1 {
    font-size: 2em;
    margin: 15px;
}

.intro p {
    padding-bottom: 50px;
    margin: 0 30px;
}

/* SIGNATURE-BUTTON */

.signature-button {
    background-color: var(--blue);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(62, 60, 73, 0.3);
    color: #fff;
    cursor: pointer;
    margin-bottom: 25px;
    padding: 20px 50px;
}

/* REGISTRATION FORM */

.register {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(62, 60, 73, 0.3);
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.register label {
    color: var(--dark-blue);
    margin-top: 15px;
}

input {
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    font-weight: 600;
    padding: 20px;
}

input[type="submit"] {
    background-color: var(--green);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(62, 60, 73, 0.3);
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 3px solid var(--dark-blue);
}

/* MESSAGE ERROR */

small {
    color: var(--red);
    font-style: italic;
    padding-top: 5px;
    text-align: right;
}

.icon-error {
    background-image: url("../img/icon-error.svg");
    background-repeat: no-repeat;
    background-position: right 0.9375rem center;
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.description {
    color: var(--grayish-blue);
}

.register p a {
    color: var(--red);
    font-weight: 500;
}

/* FOOTER SITE */

footer {
    padding-bottom: 25px;
}

footer a {
    color: hsl(228, 45%, 44%);
    font-weight: bold;
}

@media only screen and (min-width: 1000px) {
    /* BACKGROUND DESKTOP */
    body {
        background: var(--red) url("../img/bg-intro-desktop.png");
    }

    /* EFFECTS AND INTERACTIONS */
    .signature-button:hover {
        background-color: #3116e0;
    }

    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover {
        border: 3px solid var(--grayish-blue);
    }

    input[type="submit"]:hover {
        background-color: #09f58f;
    }

    a:hover {
        text-decoration: none;
    }
}
